body {
	
	background-color: #2E4057;
    font-family: 'Garamond', 'Georgia', serif;
    color: black;
}

.color-box {
    background-color: white;
    border: 5px solid #636363;
    padding: 20px;
    margin: 30px auto;
    width: 93%;

	height: 2500px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: black; 
}

h1 {
    font-family: 'Cinzel', 'Times New Roman', serif;
}

h2 {
    font-family: 'Cinzel', 'Times New Roman', serif;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #222;
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 2px solid #444;
  display: inline-block;
  padding-bottom: 5px;
}

.section-text {
  font-size: 20px;
  line-height: 1.7;
  color: #333;
  background-color: #f9f9f9;
  border-left: 4px solid #555;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
